@model SticksAndStones.Models.DAL.User
@{
    ViewData["Title"] = "Play Sticks and Stones!";
}
<div class="jumbotron">
    <h2>@Model.UserName</h2><br />
    <h4>Wins:@Model.GamesWon - Losses:@Model.GamesLost - 
        Played:@Model.GamesPlayed - Win Rate:@Model.WinRate</h4>
</div>
<script>
    $(document).ready(function()
    {
        console.log("document ready");
        $(window).on("load", function()
        {
            var URL = '@Url.Action("LockUser","Play")';
            $.post(URL,{id:'@Model.UserID'});
        });
        $(window).on("beforeunload", function()
        {
            var URL = '@Url.Action("unlockUser","Play")';
            $.post(URL,{id:'@Model.UserID'});
        });
    });
</script>