@{
    Layout = "_Layout";
    ViewData["Title"] = "Welcome To Sticks & Stones!";

    //quick access to alt text for links and images on home page
    Dictionary<string, string> altText = new Dictionary<string, string>();
    altText["Logo"] = "Sticks and Stones!";
    altText["PlayGame"] = "Find or create a lobby and begin playing.";
    altText["Tutorial"] = "Learn to play in a simulated match.";
    altText["CharacterInfo"] = "View character descriptions and move lists.";
}
@section AdditionalCSS {
    <style>
        body {
            background-image: url("images/homeBack.svg");
            background-attachment: fixed;
            background-repeat:no-repeat;
            background-size: cover;
            height: 100%;
            overflow:hidden;
        }
        .border-top {
            border-top: 0px !important;
        }
    </style>
}
<div class="row home mt-5">
    <div class="col-7 align-content-center text-center">
        <img src="~/images/logo.svg" class="img-fluid" style="width:100%; max-width:600px" alt="@altText["Logo"]" title="@altText["Logo"]" />
        <h2 class="text-center text-uppercase text-wrap pl-2 pr-2 pt-2">@ViewBag.Tagline</h2>
    </div>
    <ul class="col-5 nav nav-home">
        <li>
            <a asp-action="Index" asp-controller="Play" class="btn btn-play btn-home btn-light text-center mt-2 pl-3 pr-3" 
                title="@altText["PlayGame"]">Start!</a>
        </li>
        <li></li>
        <li>
            <a asp-action="Tutorial" asp-controller="Play" class="text-center btn btn-home btn-light mt-2" title="@altText["Tutorial"]">Play Tutorial</a>
        </li>
        <li>
            <a asp-action="CharacterData" asp-controller="GameInfo" class="text-center btn btn-home btn-light mt-2" title="@altText["CharacterInfo"]">Fighter Info</a>
        </li>
        <li>
            <a asp-action="SubmitTagline" asp-controller="GameInfo" class="text-center btn btn-home btn-light mt-2" title="@altText["CharacterInfo"]">Submit Tagline</a>
        </li>
        <li>
            <a asp-action="About" asp-controller="Home" class="text-center btn btn-home btn-light mt-2" title="@altText["CharacterInfo"]">About S&S</a>
        </li>
    </ul>
</div>