@{
    Layout = "_Layout";
    ViewData["Title"] = "Welcome To Sticks & Stones!";

    //quick access to alt text for links and images on home page
    Dictionary<string, string> altText = new Dictionary<string, string>();
    altText["Logo"] = "Sticks and Stones!";
    altText["PlayGame"] = "Find or create a lobby and begin playing.";
    altText["Tutorial"] = "Learn to play in a simulated match.";
    altText["CharacterInfo"] = "View character descriptions and move lists.";
}
@section AdditionalCSS {
    <style>
        body {
            background-color: var(--primary-background);
            height: 100%;
            overflow:hidden;
        }
        footer {
            position: fixed!important;
            background-color: var(--secondary-background);
        }
        .border-top {
            border-top: 0px !important;
        }
    </style>
}
<div class="row home">
    <header class="col-12">
        <h1 class="mark">Sticks &amp; Stones</h1>
    </header>
</div>
<div class="row home">
    <div class="col-7 align-content-center text-center">
        <h2>Tagline Here...</h2>
        <img src="~/images/logo.svg" class="img-fluid" style="width:100%; max-width:600px" alt="@altText["Logo"]" title="@altText["Logo"]" />
    </div>
    <ul class="col-5 nav nav-home">
        <li>
            <a asp-action="Index" asp-controller="Play" class="btn btn-play btn-home btn-light text-center mt-2 pl-3 pr-3" 
                title="@altText["PlayGame"]">Play!</a>
        </li>
        <li><hr /></li>
        <li>
            <a asp-action="Tutorial" asp-controller="Play" class="text-center btn btn-home btn-light" title="@altText["Tutorial"]">Play Tutorial</a>
        </li>
        <li>
            <a asp-action="Characters" asp-controller="GameInfo" class="text-center btn btn-home btn-light" title="@altText["CharacterInfo"]">Warrior Info</a>
        </li>
    </ul>
</div>