@model SticksAndStones.Models.DAL.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flavortext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flavortext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moves)
        </dt>
        <dd class = "col-sm-10">
            <dl>
                @foreach (var move in Model.Moves)
                {
                    <dt><a asp-controller="Moves" asp-action="Details" asp-route-id="@move.MoveId">@move.Name</a></dt>
                    <dd>@move.Flavortext</dd>
                }
            </dl>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CharacterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
