@model CharacterViewModel

@{
    ViewData["Title"] = "Character Browser";
}

<h1>Fighter Dictionary</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Flavortext
            </th>
            <th>
                Move List
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Characters) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavortext)
            </td>
            <td>
                <ul>
                    @foreach(var move in Model.GetMoves(item))
                    {
                        <li>
                            <a asp-action="Details" asp-controller="Moves" asp-route-id="@move.MoveId" title="@move.Flavortext">
                                @move.Name
                            </a>
                        </li>
                    }
                </ul>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
