@model SticksAndStones.Models.DAL.Tagline

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tagline</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authorized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authorized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuggestedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuggestedById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorizedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorizedById)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaglineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
