@model IEnumerable<SticksAndStones.Models.DAL.Tagline>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuggestedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorizedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authorized)
            </th>
            <th>
                Auth/Deauth
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestedByUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorizedByUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authorized)
            </td>
            <td>
                <form method="post">
                    <button asp-action="@(item.Authorized ? "Deauthorize" : "Authorize")" asp-route-id="@item.TaglineId">@(item.Authorized ? "Deauthorize" : "Authorize")</button>
                </form>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TaglineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaglineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
