@using SticksAndStones.Models.ViewModels
@model FighterInfoViewModel
@{
    ViewBag.Title = "Fighter Info";
}


<h1>Fighter Directory</h1> 
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Move List
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CharacterList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavortext)
            </td>
            <td>
                <ul>
                    @foreach(var move in Model.GetCharacterMoves(item))
                    {
                        <li>
                            <a asp-action="MoveDetail" asp-route-id="@move.MoveId" title="@move.Flavortext">
                                @move.Name
                            </a>
                        </li>
                    }
                </ul>
            </td>
        </tr>
}
    </tbody>
</table>