@model SticksAndStones.Models.DAL.Move

@{
    ViewData["Title"] = $"{Model.Name} Details";
}

<h1>@Model.Name Details</h1>

<div>
    <h4>Move</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flavortext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flavortext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd class = "col-sm-10">
            @Model.Character.Name
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoveEffects)
        </dt>
        <dd class = "col-sm-10">
            <dl>
                @foreach (var effect in Model.MoveEffects)
                {
                    <dt><a asp-controller="GameInfo" asp-action="EffectDetail" asp-route-effectId="@effect.EffectId"
                        asp-route-returnMoveId="@Model.MoveId">@effect.Effect.Name</a></dt>
                    <dd>@effect.Effect.Flavortext</dd>
                }
            </dl>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CharacterData">Back to List</a>
</div>

